<main>
    <div class="header-container">
        <h2>Add New Request</h2>
        <button class="new-report-btn" mat-raised-button color="accent" [routerLink]="['/report']">
            View Report
        </button>
    </div>

    <div class="container">
        <form class="request-form" [formGroup]="requestForm" (ngSubmit)="submitForm()">

            <div class="flex">
                <div class="flex-col">
                    <label for="student_id">Student ID:</label>
                    <input id="student_id" formControlName="student_id" required>
                </div>
                <div class="flex-col">
                    <label for="branch">Branch:</label>
                    <select id="branch" formControlName="branch" required>
                        <option *ngFor="let branch of branches" [value]="branch">{{ branch }}</option>
                    </select>
                </div>
                
            </div>

            <div class="flex">
                <div class="flex-col">
                    <label for="course">Course:</label>
                    <select id="course" formControlName="course" required>
                        <option *ngFor="let course of filteredcourses" [value]="course">{{ course }}</option>
                    </select>
                  </div>

                <div class="flex-col">
                    <label for="client_manager">Student Name:</label>
                    <input id="client_manager" formControlName="student_name" required>
                </div>
            </div>

            <div class="flex">
                <div class="flex-col">
                    <label for="learning_modules">Learning Modules:</label>
                    <input id="learning_modules" formControlName="learning_modules" required>
                </div>

                <div class="flex-col">
                    <label for="grade">Grade:</label>
                    <input id="grade" formControlName="grade" required>
                </div>
            </div>

            <label for="performance_note">Performance Note:</label>
            <textarea rows="3" id="performance_note" formControlName="performance_note" required></textarea>

            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>
</main>
